header {}
body {

width: 329px;
margin: 0px auto;
}
img{
  width: 50px;
    height: 50px;  
    
}

#points{}

#cards{}


.rowClass{
 border-style: solid;
    width: 50px;
   
    
}

.colClass{
     /*cursor: pointer;*/
   border-style: solid;
    width: 100px;
    height: 100px;
  
    
}

