header {
    background-color: #C1F0F6;
    width: 100%;
    height: 150px;
}
body {
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
}
img {
    padding-left: 400px;
}
p {} #container {
    margin-top: 10px;
    text-align: justify;
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
    padding: 20px;
    overflow: auto;
    box-shadow: 3px 14px 55px 7px #C1F0F6;
}
/*användarens meddelanden*/

#inputMessage {
    margin-left: 236px;
    min-height: 200px;
    width: 452px;
}
#messageText {} #count {
    float: right;
}
#messageText {
    line-height: 13px;
    margin-left: 286px;
}
#button {
    width: 192px;
    padding-left: 0px;
    margin-left: 377px;
}
#messageText:hover,
#messagebox:active,
#messagebox:focus {
    background-color: #F0FFFF;
}
.imgClock {
    cursor: pointer;
    background-image: url(pics/clock28.png);
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    float: right;
}
.imgRemove {
    cursor: pointer;
    background-image: url(pics/erase.png);
    background-size: 24px;
    width: 24px;
    height: 24px;
    margin: 0px;
    padding: 0px;
    float: right;
}
.date {} .textClass {
    min-height: 25px;
    background-color: #E4E4E4;
}
.divClass {
    background-color: #E4E4E4;
}
.dateClass {
    background-color: #C7C7C7;
    font-size: 12px;
}
